<mat-card>
  <mat-card-title class="mat-elevation-z8">
    <br />
    <!--Name-->
    <h1>Additionals Management</h1>
    <!--ToolBar-->
    <mat-toolbar class="" style=" background-color: #706e5a">
      <span style="flex: 1 1 auto;"></span>
      <!--Search Bar-->
      <div style="height: 100% !important; width: 25%; padding: 0px !important; color: white; background-color: #706e5a;">
        <mat-form-field appearance="fill" style="font-size: 16px; height: 100% !important; width: 100%;" matTooltip="Search">
          <mat-label style="font-size: large;color: white;" floatLabel="never">
            Search
          </mat-label>
          <!--(keyup)="applyFilter($event)"-->
          <input #input matInput><mat-icon style="font-size: 24px;" matSuffix>
            search
          </mat-icon>
        </mat-form-field>
      </div>
      <!--Import & Export Buttons-->
      <button mat-button class="toolbar-buttons" [matMenuTriggerFor]="Import">Import &nbsp;<mat-icon>south</mat-icon></button>
      <mat-menu #Import="matMenu">
        <button mat-menu-item>JSON</button>
        <button mat-menu-item>CSV</button>
      </mat-menu>
      <button mat-button class="toolbar-buttons" [matMenuTriggerFor]="Export">Export &nbsp;<mat-icon>north</mat-icon></button>
      <mat-menu #Export="matMenu">
        <button mat-menu-item>JSON</button>
        <button mat-menu-item>CSV</button>
      </mat-menu>
      <button mat-button class="toolbar-buttons" matTooltip="Print Employee Table"> Print &nbsp; <mat-icon>print</mat-icon></button>
    </mat-toolbar>
  </mat-card-title>
  <mat-card-content>
    <mat-card>

      <mat-card-content>

        <mat-grid-list cols="2" rowHeight="2:1">

          <mat-grid-tile>
            
            <mat-card class="mat-elevation-z8" style="width: 100%">
              <mat-card-title>
                <h1> Actions</h1>
              </mat-card-title>
              <br />
              <mat-card-content>
                <button mat-raised-button matButton color="primary"> Add Addition</button>
                <br />
              </mat-card-content>
            </mat-card>

          </mat-grid-tile>
          <mat-grid-tile>
            <mat-card class="mat-elevation-z8" style="width: 100%">
              <mat-card-title>


              </mat-card-title>
              <mat-card-content>

                <!--<ng-container matColumnDef="emp_name" sticky>
                  <mat-header-cell *matHeaderCellDef>Employee Name</mat-header-cell>
                  <mat-cell class="" *matCellDef="let element">
                    <p>{{element.emp_firstname}}</p> &nbsp;
                    <p>{{element.emp_lastname}}</p>
                  </mat-cell>
                </ng-container>-->


                <mat-table [dataSource]="aPInfoTableDataSource" matSort class="mat-elevation-z8">

                  <!-- Added Payments Name -->
                  <ng-container matColumnDef="Added Payments Name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Added Payments Name</mat-header-cell>
                    <mat-cell mat-cell *matCellDef="let element"> {{element.ap_name}} </mat-cell>
                  </ng-container>

                  <!-- Added Payments Arguments-->
                  <ng-container matColumnDef="Added Payments Arguments">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Added Payments Arguments</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.ap_arguments}} </mat-cell>
                  </ng-container>


                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>

              </mat-card-content>

            </mat-card>
          </mat-grid-tile>

          <mat-grid-tile>3</mat-grid-tile>
          <mat-grid-tile>4</mat-grid-tile>
        </mat-grid-list>




      </mat-card-content>



    </mat-card>

  </mat-card-content>
</mat-card>
