/* You can add global styles to this file, and also import other style files */

/*GLOBAL*/

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0; 
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: #8d8d8d;
}


* {
  vertical-align: middle !important;
}

mat-button{
    padding: 10px;
    text-align: left !important;
}

mat-card {
  text-align: center;
  margin: 20px;
  padding: 0 !important;
  border-radius: 0px !important;

}

mat-card-title {
  background-color: #bfba87;
  color: #fff;
  margin: 0px !important;
  padding: 10px !important;
}

.mat-table-toolbar {
  background-color: #bfba87;
  color: #fff;
  margin: 0px !important;
  padding: 10px !important;
}

mat-table {
  text-align: left;
  margin: 0px !important;
  padding: 0px !important;
}

mat-header-cell {
  text-align: left;
  justify-content: left;
  padding: 6px;
  background-color: #d1d4ce;
}
mat-cell {
  text-align: left;
  justify-content: left;
  padding: 6px;
}

.div-container {
  height: 80%;
  overflow: auto;
}


.mat-column-emp_id {
  max-width: 160px;
  justify-content: left;
}

.mat-column-emp_name {
  flex: 3% !important;
  justify-content: left;
  background-color: #d1d4ce;
}

.mat-column-emp_address {
  flex: 10% !important;
  justify-content: left;
}

.mat-column-emp_sex {
  max-width: 160px;
  justify-content: left;
}


.mat-column-actions {
  max-width: 200px;
  align-content: center;
  justify-content: center;
  background-color: #d1d4ce;
}

.mat-column-total {
  flex: 1% !important;
  justify-content: center;
  background-color: #d1d4ce;
}

.mat-column-cashadv {
  flex: 1% !important;
  justify-content: center;
  background-color: #d1d4ce;
}

/*
mat-cell{
    border: dotted 1px;
    border-color: black;
}*/

h1 {
  font-size: x-large !important;
  margin: 4px !important;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

/*FOR TESTING*/

/*div{
    border: solid;
}*/


