/* You can add global styles to this file, and also import other style files */




/*GLOBAL*/

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-card {
  margin: 10px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

/*FOR TESTING*/

/*div{
    border: solid;
}*/
