#parent {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  img {
    height: 150px;
  }
  
  #text1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: #787977;
  }
  
  #text2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 28px;
    color: #787977;
  }
    
  #username {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EDECDF;
    border-width: 3px;
    width: 550px;
    height: 40px;
    font-size: 20px;
  }

  #username1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
  
    
  #password1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }

  #password {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    background-color: #EDECDF;
    border-width: 3px;
    width: 550px;
    height: 40px;
    font-size: 20px;
  }
  
  .login {
    background-color: #357555;
    color: white;
    width: 300px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    font-size: 27px;
  }