.input{
    float: right;
    margin-right: 3%;
    margin-top: 3%;
}
#mat{
    overflow: auto;
}

#inputname{
    width: 200px;
    height: 30px;
    font-size: medium;
    border-radius: 10px;
}

#time{
    align-self: center;
    margin-top: 20px;
    font-size: xx-large;
}

#buttontime{
    margin-top: 10px;
    font-weight: bold;
}

table, th, td {
    margin-top: 5%;
    border: 1px solid #8b8989;
    border-collapse: collapse;
  }

