/*.searchbar {
  margin-top: 10px;
  margin-left: 10px;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

.delbutton {
  background-color: darkred;
}

.mat-cell {
  margin: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  border-right: 2px solid rgba(0, 0, 0, 0.12);
}

*/
.empManagement{
  font-family: Arial, Helvetica, sans-serif;
}

.toolbar-buttons{
  font-family: Arial, Helvetica, sans-serif;
}

.searchBar{
  height: 100% !important; 
  width: 25%; 
  padding: 0px !important; 
  color: white; 
  background-color: #706e5a;
  font-family: Arial, Helvetica, sans-serif;
}
