<mat-card>
  <mat-card-title class="mat-elevation-z8">
    <br />
    <h1>Systems Management</h1>
    <mat-toolbar class="" style=" background-color: #706e5a">
      <span style="flex: 1 1 auto;"> </span>
    </mat-toolbar>
  </mat-card-title>


    <div class="container">

      <div class="inputs">

        <form class="example-form">

          <mat-form-field class="fields" appearance="outline">
            <mat-label>Gace Period</mat-label>
            <input matInput >
          </mat-form-field>
        
          <mat-form-field class="fields" appearance="outline">
            <mat-label>Shift Rounding</mat-label>
            <input matInput>
          </mat-form-field>

          <mat-form-field class="fields" appearance="outline">
            <mat-label>Overtime Rate</mat-label>
            <input matInput>
          </mat-form-field>
        </form>

      </div>


    </div>


</mat-card>
