<mat-card >
  <mat-card-title class="mat-elevation-z8">
    <mat-toolbar class="mat-table-toolbar" color="primary">
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;

      <h1 style="vertical-align: middle;">Employee Management</h1>
      <button mat-button color="primary" matTooltip="Add Employee" (click)="addEmp(empInfoTableLength)"><mat-icon>person_add</mat-icon></button>  &nbsp;
      <span style="flex: 1 1 auto;"> </span>
      <div style="height: 100% !important ; width: 20%; padding: 0px !important; color: white; background-color: #706e5a;">
        <mat-form-field appearance="fill" style="font-size: large; height: 100% !important; width: 100%;" matTooltip="Search">
          <mat-label style="font-size: large;color: white; " floatLabel="never">Search</mat-label>
          <input (keyup)="applyFilter($event)" #input matInput>
          <mat-icon style="font-size: 24px;" matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      <!--Toolbar-->
      <button mat-button color="primary" matTooltip="Add Employee" style="color: white; background-color: #706e5a; font-size: large; height: 100%; border-radius: 0px !important" (click)="addEmp(empInfoTableLength)">Add Employee &nbsp;<mat-icon>person_add</mat-icon></button>
      <!--Import & Export Buttons-->
      <button mat-button [matMenuTriggerFor]="Import" class="" style="color:white;background-color: #706e5a; font-size:large; height: 100%; border-radius: 0px !important">Import &nbsp;<mat-icon>south</mat-icon></button>
      <mat-menu #Import="matMenu">
        <button mat-menu-item>JSON</button>
        <button mat-menu-item>CSV</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="Export" class="" style="color: white; background-color: #706e5a; font-size: large; height: 100%; border-radius: 0px !important">Export &nbsp;<mat-icon>north</mat-icon></button>
      <mat-menu #Export="matMenu">
        <button mat-menu-item>JSON</button>
        <button mat-menu-item>CSV</button>
      </mat-menu>
      <button mat-button style="color: white; background-color: #706e5a; font-size: large; height: 100%; border-radius: 0px !important;" matTooltip="Maximize Columns" (click)="maxTable()">Maximize &nbsp;<mat-icon>arrow_forward</mat-icon></button>
      <button mat-button style="color: white; background-color: #706e5a; font-size: large; height: 100%; border-radius: 0px !important;" matTooltip="Minimize Columns" (click)="minTable()">Minimize &nbsp;<mat-icon>arrow_back</mat-icon></button>
      <button mat-button style="color: white; background-color: #706e5a; font-size: large; height: 100%; border-radius: 0px !important;" matTooltip="Print Employee Table"> Print &nbsp; <mat-icon>print</mat-icon></button>
      <!--<button mat-mini-fab class="" style="background-color: darkred; color: white" matTooltip="Delete"><mat-icon>delete</mat-icon></button> &nbsp;-->
    </mat-toolbar>
  </mat-card-title>


  <mat-card-content>
    sfafafafasf
  </mat-card-content>
</mat-card>


<div class="div-container mat-elevation-z4">
  <br />
  <ng-container>
    <mat-table [dataSource]="empInfoTableDataSource" class="mat-elevation-z8" id="mat-table1" [ngStyle]="{'max-width': tableMaxWidth+'%' , 'width': tableWidth+'%'}">
      -->
      <!--Implemented For Loop-->
      <!--Table Generation-->
      <!--<ng-container *ngFor="let empInfoTableColumnsJSON of empInfoTableColumnsJSON">
        <ng-container *ngFor="let empInfoTableColumns of empInfoTableColumns">
          <ng-container *ngIf="empInfoTableColumnsJSON.columnName === empInfoTableColumns">

            <ng-container matColumnDef="{{empInfoTableColumnsJSON.columnName}}" sticky="{{empInfoTableColumnsJSON.columnisSticky}}">
              <mat-header-cell *matHeaderCellDef>&nbsp; &nbsp; {{empInfoTableColumnsJSON.columnPrettyName}} </mat-header-cell>
              <mat-cell *matCellDef="let element;" style="max-height: 10px;">
                &nbsp; &nbsp; &nbsp;-->
      <!--Try to make this part part of loop-->
      <!--Emp #-->
      <!--<ng-container *ngIf="empInfoTableColumnsJSON.columnName === 'emp_no'">
        <mat-form-field floatLabel="never">
          <input (blur)="updateList(element.emp_no, empInfoTableColumnsJSON.columnName, $event)"
                 tabindex="{{tabIndexStart()}}"
                 type="text" matInput placeholder="{{element.emp_no}}"
                 disabled>
        </mat-form-field>
      </ng-container>-->
      <!--Emp ID-->
      <!--<ng-container *ngIf="empInfoTableColumnsJSON.columnName === 'emp_id'">
        <mat-form-field floatLabel="never">
          <input (blur)="updateList(element.emp_id, empInfoTableColumnsJSON.columnName, $event)"
                 tabindex="{{tabIndexStart()}}"
                 type="text" matInput placeholder="{{element.emp_id}}"
                 disabled>
        </mat-form-field>
      </ng-container>-->
      <!--Emp Name-->
      <!--<ng-container *ngIf="empInfoTableColumnsJSON.columnName === 'emp_name'">
        <mat-form-field floatLabel="never">
          <input (keyup)="updateList(element.emp_id, 'emp_firstname', $event)"
                 type="text" matInput placeholder="{{element.emp_firstname}} {{element.emp_lastname}}"
                 tabindex="{{tabIndexInc(tabIndex)}}"
                 disabled>
        </mat-form-field>
      </ng-container>-->
      <!--Emp First Name-->
      <!--<ng-container *ngIf="empInfoTableColumnsJSON.columnName === 'emp_firstname'">
        <mat-form-field floatLabel="never">
          <input (keyup)="updateList(element.emp_id, 'emp_firstname', $event)"
                 type="text" matInput placeholder="{{element.emp_firstname}}"
                 tabindex="{{tabIndexInc(tabIndex)}}">
        </mat-form-field>
      </ng-container>-->
      <!--Emp First Last Name-->
      <!--<ng-container *ngIf="empInfoTableColumnsJSON.columnName === 'emp_lastname'">
        <mat-form-field floatLabel="never">
          <input (keyup)="updateList(element.emp_id, 'emp_lastname', $event)"
                 type="text" matInput placeholder="{{element.emp_lastname}}"
                 tabindex="{{tabIndexInc(tabIndex)}}">
        </mat-form-field>
      </ng-container>-->
      <!--Emp Address-->
      <!--<ng-container *ngIf="empInfoTableColumnsJSON.columnName === 'emp_address'">
        <mat-form-field floatLabel="never">
          <input (keyup)="updateList(element.emp_id, 'emp_address', $event)"
                 type="text" matInput placeholder="{{element.emp_address}}"
                 matTooltip="{{element.emp_address}}"
                 tabindex="{{tabIndexInc(tabIndex)}}">
        </mat-form-field>
      </ng-container>-->
      <!--Emp Sex-->
      <!--<ng-container *ngIf="empInfoTableColumnsJSON.columnName === 'emp_sex'">
        <mat-form-field floatLabel="never">
          <input (keyup)="updateList(element.emp_id, 'emp_sex', $event)"
                 type="text" matInput placeholder="{{element.emp_sex}}"
                 tabindex="{{tabIndexInc(tabIndex)}}">
        </mat-form-field>
      </ng-container>-->
      <!--Emp DateBirth-->
      <!--TO BE REDONE-->
      <!--<ng-container *ngIf="empInfoTableColumnsJSON.columnName === 'emp_datebirth'">-->
      <!--<mat-form-field floatLabel="never" appearance="fill">
        <mat-datepicker-toggle matPrefix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>-->
      <!--<mat-label>{{element.emp_datebirth | date : 'MMM dd yyyy' }}</mat-label>-->
      <!--<input matInput [matDatepicker]="picker"
               (keyup)="updateList(element.emp_id, 'emp_datebirth', $event)"
               (click)="updateList(element.emp_id, 'emp_datebirth', $event)"
               tabindex="{{tabIndexInc(tabIndex)}}">
      </mat-form-field>-->
      <!--</ng-container>-->
      <!--Emp Contact-->
      <!--Phone Pipe Here-->
      <!--<ng-container *ngIf="empInfoTableColumnsJSON.columnName === 'emp_contact'">
        <mat-form-field floatLabel="never">
          <input (keyup)="updateList(element.emp_id, 'emp_contact', $event)"
                 type="tel" matInput placeholder="{{element.emp_contact}}"
                 tabindex="{{tabIndexInc(tabIndex)}}">
        </mat-form-field>
      </ng-container>-->
      <!--Emp Position-->
      <!--<ng-container *ngIf="empInfoTableColumnsJSON.columnName === 'emp_position'">
        <mat-form-field floatLabel="never">
          <input (keyup)="updateList(element.emp_id, 'emp_position', $event)"
                 type="text" matInput placeholder="{{element.emp_position}}"
                 tabindex="{{tabIndexInc(tabIndex)}}">
        </mat-form-field>
      </ng-container>-->
      <!--Emp Department-->
      <!--<ng-container *ngIf="empInfoTableColumnsJSON.columnName === 'emp_department'">
        <mat-form-field floatLabel="never">
          <input (keyup)="updateList(element.emp_id, 'emp_department', $event)"
                 type="text" matInput placeholder="{{element.emp_department}}"
                 tabindex="{{tabIndexInc(tabIndex)}}">
        </mat-form-field>
      </ng-container>-->
      <!--Emp Rate-->
      <!--<ng-container *ngIf="empInfoTableColumnsJSON.columnName === 'emp_rate'">
        <mat-form-field floatLabel="never">
          <input (keyup)="updateList(element.emp_id, 'emp_rate', $event)"
                 type="number" matInput placeholder="{{element.emp_rate}}"
                 tabindex="{{tabIndexInc(tabIndex)}}">
        </mat-form-field>
      </ng-container>-->
      <!--Emp Time-In-->
      <!--<ng-container *ngIf="empInfoTableColumnsJSON.columnName === 'emp_time_in'">
        <mat-form-field floatLabel="never">
          <input (keyup)="updateList(element.emp_id, 'emp_time-in', $event)"
                 type="number" matInput placeholder="{{element.emp_time_in}}"
                 tabindex="{{tabIndexInc(tabIndex)}}">
        </mat-form-field>
      </ng-container>-->
      <!--Emp Time-Out-->
      <!--<ng-container *ngIf="empInfoTableColumnsJSON.columnName === 'emp_time_out'">
        <mat-form-field floatLabel="never">
          <input (keyup)="updateList(element.emp_id, 'emp_time-out', $event)"
                 type="number" matInput placeholder="{{element.emp_time_out}}"
                 tabindex="{{tabIndexInc(tabIndex)}}">
        </mat-form-field>
      </ng-container>-->
      <!--Date Started-->
      <!--TO BE REDONE-->
      <!--<ng-container *ngIf="empInfoTableColumnsJSON.columnName === 'emp_start_date'">-->
      <!--<mat-form-field floatLabel="never" appearance="fill">
        <mat-label>{{element.emp_start_date | date : 'MMM dd yyyy' }}</mat-label>
        <input matInput [matDatepicker]="picker"
               (keyup)="updateList(element.emp_id, 'emp_start_date', $event)"
               (click)="updateList(element.emp_id, 'emp_start_date', $event)"
               tabindex="{{tabIndexInc(tabIndex)}}">
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>-->
      <!--</ng-container>-->
      <!--Emp Status-->
      <!--<ng-container *ngIf="empInfoTableColumnsJSON.columnName === 'emp_status'">
        <mat-form-field floatLabel="never">
          <input (keyup)="updateList(element.emp_id, 'emp_status', $event)"
                 type="text" matInput placeholder="{{element.emp_status}}"
                 tabindex="{{tabIndexInc(tabIndex)}}">
        </mat-form-field>
      </ng-container>-->
      <!--Emp Last Mod Date-->
      <!--<ng-container *ngIf="empInfoTableColumnsJSON.columnName === 'emp_last_mod_date'">
        <p style="font-size: 12px">{{element.emp_last_mod_date | date: 'MMM dd yyyy  hh:mm'}}</p>
      </ng-container>-->
      <!--Emp Last Mod By-->
      <!--<ng-container *ngIf="empInfoTableColumnsJSON.columnName === 'emp_last_mod_by'">
                            <p style="font-size: 12px">{{element.emp_last_mod_by}}</p>
                          </ng-container>
                        </mat-cell>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </ng-container>

                <ng-container matColumnDef="actions" stickyEnd>
                  <mat-header-cell *matHeaderCellDef style="padding-left: 20px">&nbsp; Actions </mat-header-cell>
                  <mat-cell *matCellDef="let element" style="padding-left: 20px">
                    &nbsp;&nbsp;&nbsp;
                    <button mat-button class="mat-elevation-z4" style="background-color: #bfba87;color: white;" aria-label="">View</button> &nbsp;
                    <button mat-mini-fab style="background-color: #bfba87;" aria-label="" matTooltip="Print"><mat-icon>print</mat-icon></button>  &nbsp;
                    <button mat-mini-fab style="background-color: darkred;" aria-label="" matTooltip="Delete"><mat-icon>delete</mat-icon></button> &nbsp;
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="empInfoTableColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: empInfoTableColumns;"></mat-row>
              </mat-table>
            </ng-container>
          </div>



      <!--<mat-card class="mat-elevation-z6">


        <mat-card-content>
          <br />
          <div class="div-container mat-elevation-z4">
            <br />
            <ng-container>
              <mat-table [dataSource]="empInfoTableDataSource" class="mat-elevation-z8" id="mat-table1" [ngStyle]="{'max-width': tableMaxWidth+'%' , 'width': tableWidth+'%'}">-->
      <!--Implemented For Loop-->
      <!--Table Generation-->
      <!--<ng-container *ngFor="let empInfoTableColumnsJSON of empInfoTableColumnsJSON">
        <ng-container *ngFor="let empInfoTableColumns of empInfoTableColumns">
          <ng-container *ngIf="empInfoTableColumnsJSON.columnName === empInfoTableColumns">

            <ng-container matColumnDef="{{empInfoTableColumnsJSON.columnName}}" sticky="{{empInfoTableColumnsJSON.columnisSticky}}">
              <mat-header-cell *matHeaderCellDef>&nbsp; &nbsp; {{empInfoTableColumnsJSON.columnPrettyName}} </mat-header-cell>
              <mat-cell *matCellDef="let element;" style="max-height: 10px;">
                &nbsp; &nbsp; &nbsp;-->
      <!--Try to make this part part of loop-->
      <!--Emp #-->
      <!--<ng-container *ngIf="empInfoTableColumnsJSON.columnName === 'emp_no'">
        <mat-form-field floatLabel="never">
          <input (blur)="updateList(element.emp_no, empInfoTableColumnsJSON.columnName, $event)"
                 tabindex="{{tabIndexStart()}}"
                 type="text" matInput placeholder="{{element.emp_no}}"
                 disabled>
        </mat-form-field>
      </ng-container>-->
      <!--Emp ID-->
      <!--<ng-container *ngIf="empInfoTableColumnsJSON.columnName === 'emp_id'">
        <mat-form-field floatLabel="never">
          <input (blur)="updateList(element.emp_id, empInfoTableColumnsJSON.columnName, $event)"
                 tabindex="{{tabIndexStart()}}"
                 type="text" matInput placeholder="{{element.emp_id}}"
                 disabled>
        </mat-form-field>
      </ng-container>-->
      <!--Emp Name-->
      <!--<ng-container *ngIf="empInfoTableColumnsJSON.columnName === 'emp_name'">
        <mat-form-field floatLabel="never">
          <input (keyup)="updateList(element.emp_id, 'emp_firstname', $event)"
                 type="text" matInput placeholder="{{element.emp_firstname}} {{element.emp_lastname}}"
                 tabindex="{{tabIndexInc(tabIndex)}}"
                 disabled>
        </mat-form-field>
      </ng-container>-->
      <!--Emp First Name-->
      <!--<ng-container *ngIf="empInfoTableColumnsJSON.columnName === 'emp_firstname'">
        <mat-form-field floatLabel="never">
          <input (keyup)="updateList(element.emp_id, 'emp_firstname', $event)"
                 type="text" matInput placeholder="{{element.emp_firstname}}"
                 tabindex="{{tabIndexInc(tabIndex)}}">
        </mat-form-field>
      </ng-container>-->
      <!--Emp First Last Name-->
      <!--<ng-container *ngIf="empInfoTableColumnsJSON.columnName === 'emp_lastname'">
        <mat-form-field floatLabel="never">
          <input (keyup)="updateList(element.emp_id, 'emp_lastname', $event)"
                 type="text" matInput placeholder="{{element.emp_lastname}}"
                 tabindex="{{tabIndexInc(tabIndex)}}">
        </mat-form-field>
      </ng-container>-->
      <!--Emp Address-->
      <!--<ng-container *ngIf="empInfoTableColumnsJSON.columnName === 'emp_address'">
        <mat-form-field floatLabel="never">
          <input (keyup)="updateList(element.emp_id, 'emp_address', $event)"
                 type="text" matInput placeholder="{{element.emp_address}}"
                 matTooltip="{{element.emp_address}}"
                 tabindex="{{tabIndexInc(tabIndex)}}">
        </mat-form-field>
      </ng-container>-->
      <!--Emp Sex-->
      <!--<ng-container *ngIf="empInfoTableColumnsJSON.columnName === 'emp_sex'">
        <mat-form-field floatLabel="never">
          <input (keyup)="updateList(element.emp_id, 'emp_sex', $event)"
                 type="text" matInput placeholder="{{element.emp_sex}}"
                 tabindex="{{tabIndexInc(tabIndex)}}">
        </mat-form-field>
      </ng-container>-->
      <!--Emp DateBirth-->
      <!--TO BE REDONE-->
      <!--<ng-container *ngIf="empInfoTableColumnsJSON.columnName === 'emp_datebirth'">-->
      <!--<mat-form-field floatLabel="never" appearance="fill">
        <mat-datepicker-toggle matPrefix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>-->
      <!--<mat-label>{{element.emp_datebirth | date : 'MMM dd yyyy' }}</mat-label>-->
      <!--<input matInput [matDatepicker]="picker"
               (keyup)="updateList(element.emp_id, 'emp_datebirth', $event)"
               (click)="updateList(element.emp_id, 'emp_datebirth', $event)"
               tabindex="{{tabIndexInc(tabIndex)}}">
      </mat-form-field>-->
      <!--</ng-container>-->
      <!--Emp Contact-->
      <!--Phone Pipe Here-->
      <!--<ng-container *ngIf="empInfoTableColumnsJSON.columnName === 'emp_contact'">
        <mat-form-field floatLabel="never">
          <input (keyup)="updateList(element.emp_id, 'emp_contact', $event)"
                 type="tel" matInput placeholder="{{element.emp_contact}}"
                 tabindex="{{tabIndexInc(tabIndex)}}">
        </mat-form-field>
      </ng-container>-->
      <!--Emp Position-->
      <!--<ng-container *ngIf="empInfoTableColumnsJSON.columnName === 'emp_position'">
        <mat-form-field floatLabel="never">
          <input (keyup)="updateList(element.emp_id, 'emp_position', $event)"
                 type="text" matInput placeholder="{{element.emp_position}}"
                 tabindex="{{tabIndexInc(tabIndex)}}">
        </mat-form-field>
      </ng-container>-->
      <!--Emp Department-->
      <!--<ng-container *ngIf="empInfoTableColumnsJSON.columnName === 'emp_department'">
        <mat-form-field floatLabel="never">
          <input (keyup)="updateList(element.emp_id, 'emp_department', $event)"
                 type="text" matInput placeholder="{{element.emp_department}}"
                 tabindex="{{tabIndexInc(tabIndex)}}">
        </mat-form-field>
      </ng-container>-->
      <!--Emp Rate-->
      <!--<ng-container *ngIf="empInfoTableColumnsJSON.columnName === 'emp_rate'">
        <mat-form-field floatLabel="never">
          <input (keyup)="updateList(element.emp_id, 'emp_rate', $event)"
                 type="number" matInput placeholder="{{element.emp_rate}}"
                 tabindex="{{tabIndexInc(tabIndex)}}">
        </mat-form-field>
      </ng-container>-->
      <!--Emp Time-In-->
      <!--<ng-container *ngIf="empInfoTableColumnsJSON.columnName === 'emp_time_in'">
        <mat-form-field floatLabel="never">
          <input (keyup)="updateList(element.emp_id, 'emp_time-in', $event)"
                 type="number" matInput placeholder="{{element.emp_time_in}}"
                 tabindex="{{tabIndexInc(tabIndex)}}">
        </mat-form-field>
      </ng-container>-->
      <!--Emp Time-Out-->
      <!--<ng-container *ngIf="empInfoTableColumnsJSON.columnName === 'emp_time_out'">
        <mat-form-field floatLabel="never">
          <input (keyup)="updateList(element.emp_id, 'emp_time-out', $event)"
                 type="number" matInput placeholder="{{element.emp_time_out}}"
                 tabindex="{{tabIndexInc(tabIndex)}}">
        </mat-form-field>
      </ng-container>-->
      <!--Date Started-->
      <!--TO BE REDONE-->
      <!--<ng-container *ngIf="empInfoTableColumnsJSON.columnName === 'emp_start_date'">-->
      <!--<mat-form-field floatLabel="never" appearance="fill">
        <mat-label>{{element.emp_start_date | date : 'MMM dd yyyy' }}</mat-label>
        <input matInput [matDatepicker]="picker"
               (keyup)="updateList(element.emp_id, 'emp_start_date', $event)"
               (click)="updateList(element.emp_id, 'emp_start_date', $event)"
               tabindex="{{tabIndexInc(tabIndex)}}">
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>-->
      <!--</ng-container>-->
      <!--Emp Status-->
      <!--<ng-container *ngIf="empInfoTableColumnsJSON.columnName === 'emp_status'">
        <mat-form-field floatLabel="never">
          <input (keyup)="updateList(element.emp_id, 'emp_status', $event)"
                 type="text" matInput placeholder="{{element.emp_status}}"
                 tabindex="{{tabIndexInc(tabIndex)}}">
        </mat-form-field>
      </ng-container>-->
      <!--Emp Last Mod Date-->
      <!--<ng-container *ngIf="empInfoTableColumnsJSON.columnName === 'emp_last_mod_date'">
        <p style="font-size: 12px">{{element.emp_last_mod_date | date: 'MMM dd yyyy  hh:mm'}}</p>
      </ng-container>-->
      <!--Emp Last Mod By-->
      <!--<ng-container *ngIf="empInfoTableColumnsJSON.columnName === 'emp_last_mod_by'">
                            <p style="font-size: 12px">{{element.emp_last_mod_by}}</p>
                          </ng-container>
                        </mat-cell>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </ng-container>

                <ng-container matColumnDef="actions" stickyEnd>
                  <mat-header-cell *matHeaderCellDef style="padding-left: 20px">&nbsp; Actions </mat-header-cell>
                  <mat-cell *matCellDef="let element" style="padding-left: 20px">
                    &nbsp;&nbsp;&nbsp;
                    <button mat-button class="mat-elevation-z4" style="background-color: #bfba87;color: white;" aria-label="">View</button> &nbsp;
                    <button mat-mini-fab style="background-color: #bfba87;" aria-label="" matTooltip="Print"><mat-icon>print</mat-icon></button>  &nbsp;
                    <button mat-mini-fab style="background-color: darkred;" aria-label="" matTooltip="Delete"><mat-icon>delete</mat-icon></button> &nbsp;
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="empInfoTableColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: empInfoTableColumns;"></mat-row>
              </mat-table>
            </ng-container>
          </div>
          <br />

        </mat-card-content>
      </mat-card>-->



