

<div style="height: 100%; width : 100%; text-align:center; margin: 0" >
  <mat-card style="height: 100%; width: 100%; text-align: center; margin: auto; align-content:center">
    <mat-card-title>
      <h1>
        Team Codehub
      </h1>
    </mat-card-title>
    <mat-card-content style="background-image: url('assets/bg.png'); background-size: cover; height: 80%; width: 80% ">

      <h1 style="color: white; font-size: 32px">Will Start in: </h1>
      <br />
      <h1 style="color: white; font-size: 100px">{{timeinminutes}}:{{timeinseconds}}</h1>

    </mat-card-content>


  </mat-card>

</div>

