<!--Page-->
<mat-card>
  <mat-card-title class="mat-elevation-z8">
    <mat-toolbar class="mat-table-toolbar">
      <h1 style="vertical-align: middle;">Daily Time Record</h1>
      <!--Toolbar-->
      <button mat-mini-fab class="" style="background-color: darkred;" matTooltip="Delete"><mat-icon>delete</mat-icon></button> &nbsp;
      <!--Import & Export Buttons-->
      <button mat-button [matMenuTriggerFor]="Import" class="" style="background-color: #bfba87;color: white;">Import</button> &nbsp;
      <mat-menu #Import="matMenu">
        <button mat-menu-item>JSON</button>
        <button mat-menu-item>CSV</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="Export" class="" style="background-color: #bfba87;color: white;">Export</button> &nbsp; &nbsp;
      <mat-menu #Export="matMenu">
        <button mat-menu-item>JSON</button>
        <button mat-menu-item>CSV</button>
        <button mat-mini-fab style="background-color: #bfba87;" matTooltip="Print Employee Details"><mat-icon>print</mat-icon></button>
      </mat-menu>&nbsp; &nbsp;
      <!--Search Bar-->
      <!--Rework Toolbar-->
      <div style="width: 60%">
        <mat-form-field appearance="fill" style="font-size: 10px; max-width: 50%; vertical-align: middle;" matTooltip="Search">
          <mat-label style="font-size: 20px; vertical-align: middle;">Search</mat-label>
          <input #input matInput>
          <mat-icon style="font-size: 20px;" matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      &nbsp; &nbsp;&nbsp; &nbsp;
    </mat-toolbar>
  </mat-card-title>
  <!--Page Content-->
  <mat-card-content>
    <!--<p> {{currentDate}} </p>
    <p> {{month}} </p>
    <p> {{monthinNum}} </p>
    <p> {{year}} </p>
    <p> {{month_year}} </p>
    <p> {{activeEmp}} </p>-->
    <mat-tab-group class="mat-elevation-z4" [selectedIndex]="dateIndex" animationDuration="1000ms" (selectedTabChange)="hightabClick($event)">
      <ng-container *ngFor="let monthsArray of monthsArray">
        <mat-tab label="{{monthsArray}}">

        </mat-tab>
      </ng-container>
    </mat-tab-group>

    <mat-tab-group class="mat-elevation-z4" dynamicHeight (selectedTabChange)="tabClick($event)">
      <!--Implement Filter-->
      <ng-container *ngFor="let empInfoTable of empInfoTable">
        <br />
        <mat-tab label="{{empInfoTable.emp_id}} : {{empInfoTable.emp_firstname}} {{empInfoTable.emp_lastname}}">
          <ng-template matTabContent>
            <!--DTR CARD-->
            <ng-container *ngFor="let dtrInfoTable of dtrInfoTable">
              <ng-container *ngIf="dtrInfoTable.dtr_id === empInfoTable.emp_id+'_'+month_year;">

                <br />
                <mat-grid-list cols="2" rowHeight="850">
                  <mat-grid-tile>
                    <mat-card style="width: 70%; height: 100%">
                      <mat-card-title style="height:30px; font-size: 36px;">
                      <p style="margin-top: 4px;">  {{month}} {{year}} </p>
                      </mat-card-title>
                      <mat-card-content style="padding:12px;">


                          <table class="DTR-card">
                            <tr>
                              <th>Employee ID: {{empInfoTable.emp_id}}</th>
                              <th>Employee Name: {{empInfoTable.emp_firstname}} {{empInfoTable.emp_lastname}}</th>
                            </tr>
                            <tr>
                              <th>Gender: {{empInfoTable.emp_sex}}</th>
                              <th>Department: {{empInfoTable.emp_department}}</th>
                            </tr>
                            </table>
                                                      
                          <table class="DTR-card">
                            <tr>
                              <th style="width:41%">Position: {{empInfoTable.emp_position}}</th>
                              <th style="width:14%">Time In: {{empInfoTable.emp_time_in}}</th>
                              <th style="width:14%">Time Out: {{empInfoTable.emp_time_out}}</th>
                            </tr>
                            </table>

                        <table class="DTR-card">
                          <tr>
                            <th>Date</th>
                            <th colspan="2">AM</th>
                            <th colspan="2">PM</th>
                            <th colspan="2">Overtime</th>
                            <th colspan="2">Total</th>
                          </tr>
                          <tr>
                            <th></th>
                            <th style="width:14%">In</th>
                            <th style="width:14%">Out</th>
                            <th style="width:14%">In</th>
                            <th style="width:14%">Out</th>
                            <th style="width:14%">In</th>
                            <th style="width:14%">Out</th>
                            <th style="width:16%">Hours</th>
                            <th style="width:14%">Remarks</th>
                          </tr>

                          <!--Loop de loop-->

                          <ng-container *ngFor="let dtrJSONTable of dtrJSONTable ; index as i">
                            <tr>
                              <ng-container *ngIf="i <= 15">
                                <td style="font-size:14px">{{dtrJSONTable.date | date :'dd'}}</td>
                                <td>
                                  <input placeholder="{{dtrJSONTable.am_time_in}}" type="text" (keyup)="updateList(dtrInfoTable.dtr_id, $event, 'am_time_in', dtrJSONTable.date)" matInput>
                                  {{setam_time_in(dtrJSONTable.am_time_in)}}
                                </td>
                                <td>
                                  <input placeholder="{{dtrJSONTable.am_time_out}}" type="text" (keyup)="updateList(dtrInfoTable.dtr_id, $event, 'am_time_out', dtrJSONTable.date)" matInput>
                                  {{setam_time_out(dtrJSONTable.am_time_out)}}
                                </td>
                                <td>
                                  <input placeholder="{{dtrJSONTable.pm_time_in}}" type="text" (keyup)="updateList(dtrInfoTable.dtr_id, $event, 'pm_time_in', dtrJSONTable.date)" matInput>
                                  {{setpm_time_in(dtrJSONTable.pm_time_in)}}
                                </td>
                                <td>
                                  <input placeholder="{{dtrJSONTable.pm_time_out}}" type="text" (keyup)="updateList(dtrInfoTable.dtr_id, $event, 'pm_time_out', dtrJSONTable.date)" matInput>
                                  {{setpm_time_out(dtrJSONTable.pm_time_out)}}
                                </td>
                                <td>
                                  <input placeholder="{{dtrJSONTable.ot_time_in}}" type="text" (keyup)="updateList(dtrInfoTable.dtr_id, $event, 'ot_time_in', dtrJSONTable.date)" matInput>
                                  {{setot_time_in(dtrJSONTable.ot_time_in)}}
                                </td>
                                <td>
                                  <input placeholder="{{dtrJSONTable.ot_time_out}}" type="text" (keyup)="updateList(dtrInfoTable.dtr_id, $event, 'ot_time_out', dtrJSONTable.date)" matInput>
                                  {{setot_time_out(dtrJSONTable.ot_time_out)}}
                                </td>
                                <td>
                                  {{computehrs()}}
                                  <!--<input placeholder="{{dtrJSONTable.mhrs}}" type="text" (keyup)="updateList(dtrInfoTable.dtr_id, $event, 'mhrs', dtrJSONTable.date)" matInput>-->
                                </td>
                                <td>
                                  <input placeholder="{{dtrJSONTable.remarks}}" type="text" (keyup)="updateList(dtrInfoTable.dtr_id, $event, 'remarks', dtrJSONTable.date)" matInput>
                                </td>
                              </ng-container>

                            </tr>
                          </ng-container>

                        </table>
                      </mat-card-content>
                    </mat-card>
                  </mat-grid-tile>

                  <mat-grid-tile>
                    <mat-card style="width: 70%; height: 100%">
                      <mat-card-title style="padding:8px; height:30px; font-size: 36px;">
                        <p style="margin-top: 4px;">  {{month}} {{year}} </p>
                      </mat-card-title>
                      <mat-card-content style="padding:12px;">

                        <table class="DTR-card">
                          <tr>
                            <th>Employee ID: {{empInfoTable.emp_id}}</th>
                            <th>Employee Name: {{empInfoTable.emp_firstname}} {{empInfoTable.emp_lastname}}</th>
                          </tr>
                          <tr>
                            <th>Gender: {{empInfoTable.emp_sex}}</th>
                            <th>Department: {{empInfoTable.emp_department}}</th>
                          </tr>
                          </table>

                          <table class="DTR-card">
                            <tr>
                              <th style="width:41%">Position: {{empInfoTable.emp_position}}</th>
                              <th style="width:14%">Time In: {{empInfoTable.emp_time_in}}</th>
                              <th style="width:14%">Time Out: {{empInfoTable.emp_time_out}}</th>
                            </tr>
                            </table>

                        <table class="DTR-card">
                          <tr>
                            <th>Date</th>
                            <th colspan="2">AM</th>
                            <th colspan="2">PM</th>
                            <th colspan="2">Overtime</th>
                            <th colspan="2">Total</th>
                          </tr>
                          <tr>
                            <th></th>
                            <th style="width:14%">In</th>
                            <th style="width:14%">Out</th>
                            <th style="width:14%">In</th>
                            <th style="width:14%">Out</th>
                            <th style="width:14%">In</th>
                            <th style="width:14%">Out</th>
                            <th style="width:16%">Hours</th>
                            <th style="width:14%">Remarks</th>
                          </tr>

                          <!--Loop de loop-->

                          <ng-container *ngFor="let dtrJSONTable of dtrJSONTable ; index as i">
                            <tr>
                              <ng-container *ngIf="i >= 15">
                                <td style="font-size:14px">{{dtrJSONTable.date | date :'dd'}}</td>
                                <td>
                                  <input placeholder="{{dtrJSONTable.am_time_in}}" type="text" (keyup)="updateList(dtrInfoTable.dtr_id, $event, 'am_time_in', dtrJSONTable.date)" matInput>
                                  {{setam_time_in(dtrJSONTable.am_time_in)}}
                                </td>
                                <td>
                                  <input placeholder="{{dtrJSONTable.am_time_out}}" type="text" (keyup)="updateList(dtrInfoTable.dtr_id, $event, 'am_time_out', dtrJSONTable.date)" matInput>
                                  {{setam_time_out(dtrJSONTable.am_time_out)}}
                                </td>
                                <td>
                                  <input placeholder="{{dtrJSONTable.pm_time_in}}" type="text" (keyup)="updateList(dtrInfoTable.dtr_id, $event, 'pm_time_in', dtrJSONTable.date)" matInput>
                                  {{setpm_time_in(dtrJSONTable.pm_time_in)}}
                                </td>
                                <td>
                                  <input placeholder="{{dtrJSONTable.pm_time_out}}" type="text" (keyup)="updateList(dtrInfoTable.dtr_id, $event, 'pm_time_out', dtrJSONTable.date)" matInput>
                                  {{setpm_time_out(dtrJSONTable.pm_time_out)}}
                                </td>
                                <td>
                                  <input placeholder="{{dtrJSONTable.ot_time_in}}" type="text" (keyup)="updateList(dtrInfoTable.dtr_id, $event, 'ot_time_in', dtrJSONTable.date)" matInput>
                                  {{setot_time_in(dtrJSONTable.ot_time_in)}}
                                </td>
                                <td>
                                  <input placeholder="{{dtrJSONTable.ot_time_out}}" type="text" (keyup)="updateList(dtrInfoTable.dtr_id, $event, 'ot_time_out', dtrJSONTable.date)" matInput>
                                  {{setot_time_out(dtrJSONTable.ot_time_out)}}
                                </td>
                                <td>
                                  {{computehrs()}}
                                  <!--<input placeholder="{{dtrJSONTable.mhrs}}" type="text" (keyup)="updateList(dtrInfoTable.dtr_id, $event, 'mhrs', dtrJSONTable.date)" matInput>-->
                                </td>
                                <td>
                                  <input placeholder="{{dtrJSONTable.remarks}}" type="text" (keyup)="updateList(dtrInfoTable.dtr_id, $event, 'remarks', dtrJSONTable.date)" matInput>
                                </td>
                              </ng-container>

                            </tr>
                          </ng-container>

                        </table>
                      </mat-card-content>
                    </mat-card>
                  </mat-grid-tile>

                </mat-grid-list>
              </ng-container>
            </ng-container>



            <!--CHECK IF HAS DTR-->

            <ng-container *ngIf="hasDTRbool === false">

              <mat-card style="width: 30%; height: 200px; margin: auto; margin-top: 50px; margin-bottom: 50px">
                <mat-card-title style="background-color:sandybrown; vertical-align:middle;">

                  <p style="font-size:x-large; padding: 2px; ">
                    <mat-icon style="font-size:xx-large">
                      error
                    </mat-icon> &nbsp;
                  </p>
                </mat-card-title>
                <mat-card-content>
                  <br />
                  <p style="font-size:x-large">No DTR found.</p>
                  <br />
                  <button mat-raised-button style="background-color: #bfba87; color: white" matTooltip="Generate Blank DTR" (click)="generateDTR(empInfoTable.emp_id)"><mat-icon> add_circle_outline</mat-icon>&nbsp; Generate DTR</button><br />
                </mat-card-content>
              </mat-card>
            </ng-container>
          </ng-template>

        </mat-tab>
      </ng-container>
    </mat-tab-group>

  </mat-card-content>
</mat-card>
