<mat-card class="dtrCard mat-elevation-z5">
  <br>
  <mat-card class="clock2" style="width: 17.1%;">
    <p class="clock">{{time | date: 'h:mm:ss a'}}</p>
  </mat-card>
  <div class="row">
    <div class="column">
      <img src="./assets/faveIcon/cocrodwlime.png">
      <p class="dtrTitle">DAILY TIME RECORD</p>
    </div>

      
    <div class="column2">
      <br><br><br>
      <mat-form-field appearance="outline">
        <mat-icon class="icon" matPrefix>person</mat-icon>
        <input class="input" type="text" [(ngModel)]="emp_id" matInput placeholder="Employee ID here...">
      </mat-form-field><br>
      <button mat-raised-button class="timein-btn" (click)="onTimeClick(emp_id, 'time_in')"><mat-icon>alarm_add</mat-icon>TIME IN</button>
      <button mat-raised-button class="timeout-btn" (click)="onTimeClick(emp_id, 'time_out')"><mat-icon>alarm_minus</mat-icon>TIME OUT</button>

    </div>
  </div>
</mat-card>

  <mat-card class="dtrCard2 mat-elevation-z5">
  <p class="sign">error or okay sign</p>
  <table class="mat-elevation-z5" style="width:70%; margin-left: 15%; background-color: whitesmoke;">
    <tr>
      <th>EMPLOYEE NAME</th>
      <th>TIME IN</th>
      <th>TIME OUT</th>
    </tr>
    <!--sample lang-->
    <tr>
      <td>SAMPLE</td>
      <td>SAMPLE</td>
      <td>SAMPLE</td>

    </tr>
    <tr>
      <td>SAMPLE</td>
      <td>SAMPLE</td>
      <td>SAMPLE</td>

    </tr>
  </table>

</mat-card>


