<mat-card>
    <mat-card-title>
      <p>Deduction Form</p>
      <button  (click)="openDialog()" id="addbutton"><mat-icon>add</mat-icon>Add Deduction</button>
    </mat-card-title>
    <mat-divider></mat-divider>
  
    
    <input type="text" class="search" placeholder="Search..." name="search"><mat-icon class="search1" >search</mat-icon> 
  
    <table style="width:70%; margin-left: 15%;">
      <tr>
        <th>Ref No</th>
        <th>Deduction information</th> 
        <th>Action</th>

      </tr>
    </table>
  
  </mat-card>
  