<mat-card>
    <mat-card-title class="mat-elevation-z8">
      <mat-toolbar class="mat-table-toolbar" color="primary">
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
  
        <h1 style="vertical-align: middle;">User Page</h1>
        <span style="flex: 1 1 auto;"> </span>
        <div style="height: 100% !important ; width: 20%; padding: 0px !important; color: white; background-color: #706e5a;">
          <mat-form-field appearance="fill" style="font-size: large; height: 100% !important; width: 100%;" matTooltip="Search">
            <mat-label style="font-size: large;color: white; " floatLabel="never">Search</mat-label>
            <input #input matInput>
            <mat-icon style="font-size: 24px;" matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
        <!--Toolbar-->
        <!--Import & Export Buttons-->
        <button mat-button [matMenuTriggerFor]="Import" class="" style="color:white;background-color: #706e5a; font-size:large; height: 100%; border-radius: 0px !important">Import &nbsp;<mat-icon>south</mat-icon></button>
        <mat-menu #Import="matMenu">
          <button mat-menu-item>JSON</button>
          <button mat-menu-item>CSV</button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="Export" class="" style="color: white; background-color: #706e5a; font-size: large; height: 100%; border-radius: 0px !important">Export &nbsp;<mat-icon>north</mat-icon></button>
        <mat-menu #Export="matMenu">
          <button mat-menu-item>JSON</button>
          <button mat-menu-item>CSV</button>
        </mat-menu>
        <button mat-button style="color: white; background-color: #706e5a; font-size: large; height: 100%; border-radius: 0px !important;" matTooltip="Print Employee Table"> Print &nbsp; <mat-icon>print</mat-icon></button>
      </mat-toolbar>
    </mat-card-title>
  </mat-card>

  <mat-card class="mat-elevation-z8" id="profile">
        <mat-card-title class="mat-elevation-z8">     
              <h1 style="vertical-align: middle; margin-top: 10px;">My Profile</h1>
          </mat-card-title>




          <br><br><table class="DTR-card">
            <tr>
            <td style="width: 17%;"><p>Employee no.:</p></td>
            <td style="width: 17%;"><p>Employee id:</p></td>
            <td><p>First Name:</p></td>
            <td><p>Last Name:</p></td>
        </tr>
            </table>
            <table class="DTR-card">              
        <tr>
            <td><p>Address:</p></td>
        </tr>
            </table>

            <table class="DTR-card">              
                <tr>
                    <td style="width: 25%;"><p>Birtddate:</p></td>
                    <td style="width: 25%;"><p>Contact Number:</p></td>
                    <td style="width: 15%;"><p>Gender:</p></td>
                </tr>
                    </table>
    
              <table class="DTR-card">
                <tr>
                <td style="width: 15%;"><p>Time In:</p></td>
                <td style="width: 15%;"><p>Time Out:</p></td>
                <td><p>Department:</p></td>
            </tr>
                </table>
                <table class="DTR-card">              
            <tr>
                <td><p>Position:</p></td>
                <td><p>Start Date:</p></td>
                <td><p>Status:</p></td>
            </tr>
                </table>

  </mat-card>
