
<mat-table class="mat-elevation-z8" [dataSource]="wageInfoTableDataSource" matSort>

  <ng-container matColumnDef="wage_id">
    <mat-header-cell hidden class="th" *matHeaderCellDef> Wage ID </mat-header-cell>
    <mat-cell hidden class="td" *matCellDef="let element"> {{element.wage_id}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="emp_id">
    <mat-header-cell class="th" *matHeaderCellDef> Employee Name </mat-header-cell>
    <mat-cell class="td" *matCellDef="let element"> {{element.emp_id}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="wage_rate">
    <mat-header-cell class="th" *matHeaderCellDef> Description </mat-header-cell>
    <mat-cell class="td" *matCellDef="let element"> {{element.wage_rate}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="wage_args">
    <mat-header-cell class="th" *matHeaderCellDef> Wage Parameters </mat-header-cell>
    <mat-cell class="td" *matCellDef="let element"> {{element.wage_args}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="wage_last_mod_date">
    <mat-header-cell class="th" *matHeaderCellDef> Last Modified </mat-header-cell>
    <mat-cell class="td" *matCellDef="let element"> {{element.wage_last_mod_date}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="ActionColumn">
    <mat-header-cell *matHeaderCellDef class="th" style="text-align: center;"> Actions </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <!--<div class="actBtn">
        <button mat-raised-button class="restoreBtn" (click)="recProduct(element.item_id);"><mat-icon>unarchive</mat-icon>Restore</button>
        <button mat-raised-button class="archive-button" (click)="delProduct(element.item_id);"><mat-icon>delete_forever</mat-icon>Delete</button>
      </div>-->
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
