

/*TANGINA JIV SABI KO IREVISE NYO TO TANGINA NAMAN*/


mat-sidenav-container {
  height: 100%;
  width: 100%;
}

mat-sidenav-content {
  height: 100%;
}


mat-sidenav {
  width: 250px;
}

.sidebarcateg {
  background-color: #bfba87;
  border-radius: 0px !important;
  color: white !important;
  width: 100%;
  font-size: 20px;
  text-align: justify;
  padding: 4px;
}

.sidebarcontent {
  border-radius: 0px;
  border-radius: 0px !important;
  width: 100%;
  font-size: 20px;
  text-align: justify;
  padding: 4px;
}

mat-sidenav-content{
  padding: 0px !important;
}


