

/*TANGINA JIV SABI KO IREVISE NYO TO TANGINA NAMAN*/


mat-sidenav-container, mat-sidenav-content {
  height: 100%;
}

mat-sidenav {
  margin-left: 0px;
  padding: 0px;
  width: 240px;
}

.sidebarcateg {
  background-color: #bfba87;
  border-radius: 0px !important;
  color: white !important;
  width: 100%;
  font-size: 20px;
  text-align: justify;
  padding: 4px;
}

.sidebarcontent {
  margin-left: 10px;
  border-radius: 0px;
  border-radius: 0px !important;
  width: 100%;
  font-size: 20px;
  text-align: justify;
  padding: 4px;
}

mat-sidenav-content{
  padding: 0px !important;
}


