<mat-card>
  <mat-card-title>
    <p>This is a Title</p>
  </mat-card-title>
  <mat-card-content>
    <mat-divider></mat-divider>
    <p>
      This is content
    </p>
    <p>
      {{currentDate | date}}
    </p>
    <p>
      {{firstDay | date}}
    </p>
    <p>
      {{lastDay | date}}
    </p>
    <mat-divider></mat-divider>
    <br />
    <div class="scroll">
    <mat-grid-list cols="15" rowHeight="2:5">
      <ng-container *ngFor="let dayArray of dayArray">
        <mat-grid-tile>
          <ng-container>

            <!--/Remove from cards cards fucking useless-->

            <mat-card [ngStyle]="{'background-color': dayArray === currentDate ? '#a39c57' : 'white' }">
         <!--    <b> <p style="font-size: 30px; ">I</p></b>   -->
              <mat-card-title>
                <b> <p style="font-size: 15px">{{dayArray | date : 'EEEEE'}}</p>  </b>
              </mat-card-title>
              <mat-card-content>
                <mat-divider></mat-divider>
                <p style="font-size: 15px">{{dayArray |date : 'M' }}</p>
                <p style="font-size: 10px">{{dayArray |date : 'd' }}</p>
              </mat-card-content>
            </mat-card>
          </ng-container>
          

        </mat-grid-tile>
      </ng-container>
    </mat-grid-list>
  </div>
    <br />
  </mat-card-content>
</mat-card>

