<mat-card>
  <mat-card-title class="mat-elevation-z8">
    <mat-toolbar class="mat-table-toolbar" color="primary">
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;

      <h1 style="vertical-align: middle;">System Dashboard</h1>
      <span style="flex: 1 1 auto;"> </span>
      <div style="height: 100% !important ; width: 20%; padding: 0px !important; color: white; background-color: #706e5a;">
        <mat-form-field appearance="fill" style="font-size: large; height: 100% !important; width: 100%;" matTooltip="Search">
          <mat-label style="font-size: large;color: white; " floatLabel="never">Search</mat-label>
          <input #input matInput>
          <mat-icon style="font-size: 24px;" matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      <!--Toolbar-->
      <!--Import & Export Buttons-->
      <!--<button mat-mini-fab class="" style="background-color: darkred; color: white" matTooltip="Delete"><mat-icon>delete</mat-icon></button> &nbsp;-->
    </mat-toolbar>
  </mat-card-title>


  <mat-card-content>
    <div class="row">
        <div class="left">
          <p class="left-data">Total Employee</p>
          <p class="left-data2">40</p>
          
        </div>

        <div class="left">
          <p class="left-data">Total Employee</p>
          <p class="left-data2">40</p>
        </div>

        <div class="left">
          <p class="left-data">Total Employee</p>
          <p class="left-data2">40</p>
        </div>

        <div class="left">
          <p class="left-data">Total Employee</p>
          <p class="left-data2">40</p>
        </div>
    </div>


  </mat-card-content>
  <mat-card-content >
   
    <div class="mat-elevation-z8" >
      <table >
        <tr>
          <th>Name</th>
          <th>Middle Name</th>
          <th>Last Name</th>
        </tr>
        <tr *ngFor = "let data of tableData">
          
          <td>{{ data.firstN }}</td>
          <td>{{ data.middleN }}</td>
          <td>{{ data.lastN}}</td>
          
        </tr>

      </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>

  </mat-card-content>
  

</mat-card>
<mat-card>
  <div class="twoTableRow">
    <div class="twoTable">
      <div class="mat-elevation-z8" >
        <table >
          <tr>
            <th>Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
          </tr>
          <tr *ngFor = "let data of tableData">
            
            <td>{{ data.firstN }}</td>
            <td>{{ data.middleN }}</td>
            <td>{{ data.lastN}}</td>
            
          </tr>
  
        </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
    <div class="twoTable">
      <div class="mat-elevation-z8" >
        <table >
          <tr>
            <th>Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
          </tr>
          <tr *ngFor = "let data of tableData">
            
            <td>{{ data.firstN }}</td>
            <td>{{ data.middleN }}</td>
            <td>{{ data.lastN}}</td>
            
          </tr>
  
        </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
</mat-card>






<!--<mat-card>
  <mat-card-title>
    <p>This is a Title</p>
  </mat-card-title>
  <mat-card-content>-->
    <!--<mat-divider></mat-divider>
    <p>
      This is content
    </p>
    <p>
      Current Date : {{currentDate | date}}
    </p>
    <p>
      First Date : {{firstDay | date}}
    </p>
    <p>
      Last Date : {{lastDay | date}}
    </p>
    <mat-divider></mat-divider>
    <br />-->

    <!--<ng-container style="width : 100%">
      <mat-grid-list cols="36" rowHeight="100vh">-->

        <!--(Use this to set as dynamic length {{lastDay | date : 'd' }} + 1)-->

        <!--<mat-grid-tile colspan="4">

          <ng-container>
            <mat-card style="text-align: center" [ngStyle]="{'background-color': dayArray === currentDate ? '#a39c57' : 'white' }">-->
              <!--<p style="font-size: 36px; ">I</p>-->
              <!--<mat-card-title>
                <p style="font-size:10px">Employee Name</p>
              </mat-card-title>
              <mat-card-content>
                <mat-divider></mat-divider>
                <p style="font-size:10px">&nbsp;</p>
                <mat-divider></mat-divider>
                <mat-table class="" [dataSource]="empInfoTableDataSource" style="background-color:none">

                  <ng-container matColumnDef="emp_id">
                    <mat-header-cell *matHeaderCellDef [ngStyle]="{'background-color': dayArray === currentDate ? '#a39c57' : 'white' }"></mat-header-cell>
                    <mat-cell *matCellDef="let element" [ngStyle]="{'background-color': dayArray === currentDate ? '#a39c57' : 'white' }">


                      <p style="white-space: nowrap; text-align:left">
                        {{element.emp_name}}
                      </p>

                    </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="empColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: empColumns;"></mat-row>
                </mat-table>
              </mat-card-content>
            </mat-card>

          </ng-container>

        </mat-grid-tile>

        <ng-container *ngFor="let dayArray of dayArray">

          <mat-grid-tile>
            <ng-container>-->

              <!--/Remove from cards cards fucking useless-->
              <!--<div>

              </div>-->
              <!--<mat-card style="text-align: center" [ngStyle]="{'background-color': dayArray === currentDate ? '#a39c57' : 'white' }">-->
                <!--<p style="font-size: 36px; ">I</p>-->
                <!--<mat-card-title>
                  <p style="font-size:small">{{dayArray | date : 'EEEEE'}}</p>
                </mat-card-title>
                <mat-card-content>
                  <mat-divider></mat-divider>
                  <p style="font-size:10px">{{dayArray |date : 'MMM d' }}</p>
                  <mat-divider></mat-divider>
                  <mat-table class="" [dataSource]="empInfoTableDataSource" style="background-color:none">

                    <ng-container matColumnDef="emp_id">
                      <mat-header-cell *matHeaderCellDef [ngStyle]="{'background-color': dayArray === currentDate ? '#a39c57' : 'white' }"></mat-header-cell>
                      <mat-cell *matCellDef="let element" [ngStyle]="{'background-color': dayArray === currentDate ? '#a39c57' : 'white' }">


                        <ng-container *ngFor="let attInfoTable of attInfoTable">

                          <ng-container *ngIf="element.emp_id === attInfoTable.emp_id">

                            <ng-container *ngIf="dayArray === attInfoTable.attendance_date">

                              <p style="font-size: 16px;" [ngStyle]="{'color': attInfoTable.attendance_hours < 8 ? '#FF5733' : '#0EDFA0' }">
                                {{attInfoTable.attendance_hours}}
                              </p>
                            </ng-container>


                          </ng-container>

                        </ng-container>

                      </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="empColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: empColumns;"></mat-row>
                  </mat-table>
                </mat-card-content>
              </mat-card>

            </ng-container>


          </mat-grid-tile>
        </ng-container>

        <mat-grid-tile colspan="2">

          <ng-container>
            <mat-card style="text-align: center" [ngStyle]="{'background-color': dayArray === currentDate ? '#a39c57' : 'white' }">-->
              <!--<p style="font-size: 36px; ">I</p>-->
              <!--<mat-card-title>
                <p style="font-size:10px">Total</p>
              </mat-card-title>
              <mat-card-content>
                <mat-divider></mat-divider>
                <p style="font-size:10px">&nbsp;</p>
                <mat-divider></mat-divider>
                <mat-table class="" [dataSource]="empInfoTableDataSource" style="background-color:none">

                  <ng-container matColumnDef="emp_id">
                    <mat-header-cell *matHeaderCellDef [ngStyle]="{'background-color': dayArray === currentDate ? '#a39c57' : 'white' }"></mat-header-cell>
                    <mat-cell *matCellDef="let element" [ngStyle]="{'background-color': dayArray === currentDate ? '#a39c57' : 'white' }">


                      <p>
                        Total
                      </p>

                    </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="empColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: empColumns;"></mat-row>
                </mat-table>

              </mat-card-content>
            </mat-card>

          </ng-container>

        </mat-grid-tile>


      </mat-grid-list>
    </ng-container>

    <br />
  </mat-card-content>
</mat-card>-->

