<mat-card>
  <mat-card-title>
    <p>This is a Title</p>
  </mat-card-title>
  <mat-card-content>
    <mat-divider></mat-divider>
    <p>
      This is content
    </p>
    <p>
      {{currentDate | date}}
    </p>
    <p>
      {{firstDay | date}}
    </p>
    <p>
      {{lastDay | date}}
    </p>
    <mat-divider></mat-divider>
    <br />
    <mat-grid-list style="width : 100% "cols="50" rowHeight="1:5">
      <ng-container *ngFor="let dayArray of dayArray">
        <mat-grid-tile>
          <ng-container>

            <!--/Remove from cards cards fucking useless-->
            <div>

            </div>
            <mat-card [ngStyle]="{'background-color': dayArray === currentDate ? '#a39c57' : 'white' }">
              <p style="font-size: 36px; ">I</p>
              <mat-card-title>
                <p style="font-size:small">{{dayArray | date : 'EEEEE'}}</p>
              </mat-card-title>
              <mat-card-content>
                <mat-divider></mat-divider>
                <p style="font-size:smaller">{{dayArray |date : 'M d' }}</p>
                <mat-divider></mat-divider>
              </mat-card-content>
            </mat-card>
          </ng-container>
          

        </mat-grid-tile>
      </ng-container>
    </mat-grid-list>
    <br />
  </mat-card-content>
</mat-card>

