<mat-card>
  <mat-card-title>
    <p>Payroll</p>
    <button (click)="openDialog()" id="addbutton"><mat-icon>add</mat-icon>Add Payroll</button>
  </mat-card-title>
  <mat-divider></mat-divider>

  
  <input type="text" class="search" placeholder="Search..." name="search"><mat-icon class="search1" >search</mat-icon> 

  <table style="width:100%">
    <tr>
      <th>Ref No</th>
      <th>Date From</th> 
      <th>Date To</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </table>

</mat-card>
