<mat-card>
  <mat-card-title class="mat-elevation-z8">
    <mat-toolbar class="mat-table-toolbar">
      <h1 class="salaryRec">Salary Record</h1>
      <!--Toolbar-->
      <button mat-mini-fab class="" style="background-color: darkred;" matTooltip="Delete"><mat-icon>delete</mat-icon></button> &nbsp;
      <!--Import & Export Buttons-->
      <button mat-button [matMenuTriggerFor]="Import" class="btn1">Import</button> &nbsp;
      <mat-menu #Import="matMenu">
        <button mat-menu-item>JSON</button>
        <button mat-menu-item>CSV</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="Export" class="btn2">Export</button> &nbsp; &nbsp;
      <mat-menu #Export="matMenu">
        <button mat-menu-item>JSON</button>
        <button mat-menu-item>CSV</button>
        <button mat-mini-fab style="background-color: #bfba87;" matTooltip="Print Employee Details"><mat-icon>print</mat-icon></button>
      </mat-menu>&nbsp; &nbsp;
      <!--Search Bar-->
      <!--Rework Toolbar-->
      <div style="width: 60%">
        <mat-form-field appearance="fill" style="font-size: 10px; max-width: 50%; vertical-align: middle;" matTooltip="Search">
          <mat-label style="font-size: 20px; vertical-align: middle;">Search</mat-label>
          <input #input matInput>
          <mat-icon style="font-size: 20px;" matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      &nbsp; &nbsp;&nbsp; &nbsp;
    </mat-toolbar>
  </mat-card-title>
</mat-card>
