<mat-card>
  <mat-card-title class="mat-elevation-z8">
    <br />
    <!--Name-->
    <h1>Employee Salary Details</h1>
    <!--ToolBar-->
    <mat-toolbar class="" style=" background-color: #706e5a">
      <span style="flex: 1 1 auto;"> </span>
      <!--Search Bar-->
      <div style="height: 100% !important; width: 25%; padding: 0px !important; color: white; background-color: #706e5a;">
        <mat-form-field appearance="fill" style="font-size: 16px; height: 100% !important; width: 100%;" matTooltip="Search">
          <mat-label style="font-size: large; color: white;" floatLabel="never">Search</mat-label>
          <input  #input matInput><mat-icon style="font-size: 24px;" matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      
      <!--Import & Export Buttons-->
      <button mat-button class="toolbar-buttons" [matMenuTriggerFor]="Import">Import &nbsp;<mat-icon>south</mat-icon></button>
      <mat-menu #Import="matMenu">
        <button mat-menu-item>JSON</button>
        <button mat-menu-item>CSV</button>
      </mat-menu>
      <button mat-button class="toolbar-buttons" [matMenuTriggerFor]="Export">Export &nbsp;<mat-icon>north</mat-icon></button>
      <mat-menu #Export="matMenu">
        <button mat-menu-item>JSON</button>
        <button mat-menu-item>CSV</button>
      </mat-menu>
      
      <button mat-button class="toolbar-buttons" matTooltip="Print Employee Table"> Print &nbsp; <mat-icon>print</mat-icon></button>
    </mat-toolbar>
  </mat-card-title>



</mat-card>
