/* You can add global styles to this file, and also import other style files */

/* #b6cc99 */

body {
  background-color: #b6cc99;
}

mat-card{
    margin: 20px;
    text-align: center;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
