<mat-card class="mat-elevation-z8" id="card">
    <mat-card-title class="mat-elevation-z8">     
          <h1 style="vertical-align: middle; margin-top: 10px;">My Profile Page</h1>
      </mat-card-title>

<p id="changetitle">Change Your Account Password</p>

        <input id="password" type="password" placeholder=" Enter Old Password">

        <input id="password" type="password" placeholder=" Enter New Password">
        <input id="password1" type="password" placeholder=" Re-Enter New Password">
        
        <br><br>

        <button mat-raised-button class="mat-elevation-z8" matTooltip="Confirm" id="conf">Confirm</button>


</mat-card>