#card{
    width: 97%;
    height: 78%;
    border-radius: 10px !important;
}

#changetitle{
    font-size: xx-large;
    text-align: left;
    margin-left: 12%;
    margin-top: 5%;
}

#password {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    margin-top: 3%;
    background-color: #EDECDF;
    border-radius: 8px;
    width: 400px;
    height: 40px;
    font-size: 30px;
  }
  #password1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    margin-top: 1%;
    background-color: #EDECDF;
    border-radius: 8px;
    width: 400px;
    height: 40px;
    font-size: 30px;
  }

  #conf {
    background-color: #706e5a;
    color: white;
    width: 250px;
    height: 50px;
    border-radius: 8px;
    text-align: center;
    font-size: 27px;
    margin-right: 7%;
  }